# build artifacts
dist
feedly*.css
local-overrides.css
!*_auto.css
!dist/.gitignore

# junk
*~
.DS_Store
._*
[Dd]esktop.ini
Thumbs.db

# logs and dependencies
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
