/* FROM TT-RSS.CSS ************************************************************/

/* @66 */
div.articleNote {
	background-color : #fff7d5;
	padding : 5px;
	border-radius : 4px;
	margin : 5px;
	border-style : solid;
	border-color : #e7d796;
	border-width : 1px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.1);
	background-color : #fff7d5;
	color : #9a8c59;
}

div.articleNote div.noteEdit {
	float : right;
	cursor : pointer;
}

/* @129 */
#notify {
	bottom : 10px;
	right : 10px;
	border-width : 1px;
	border-style : solid;
	position : absolute;
	font-size : 12px;
	z-index : 99;
	max-width : 200px;
	min-width : 100px;
	padding : 5px;
	-width : 200px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.2);
}

#notify img {
	vertical-align : middle;
	max-height : 14px;
}

#notify span.msg {
	width : 100%;
}

#notify span.close {
	text-align : right;
}

#notify span {
	display : table-cell;
	vertical-align : middle;
	padding : 4px;
}

.notify {
	border-color : #d7c47a;
	background-color : #fff7d5;
}

.notify.progress {
	border-color : #d7c47a;
	background-color : #fff7d5;
}

.notify.info {
	border-color : #88b0f0;
	background-color : #ecf4ff;
}

.notify.error {
	background-color : #ffcccc;
	border-color : #ff0000;
}

/* @263 */
div.notice, div.warning, div.error {
	padding : 4px 10px 4px 4px;
	display : inline-block;
	margin : 2px 0px 4px 0px;
	font-size : 12px;
	border-style : solid;
	border-color : #ccc;
	border-radius : 4px;
	border-width : 1px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.1);
}

div.notice div.inner, div.warning div.inner, div.error div.inner {
	vertical-align : middle;
}

div.notice {
	background : #ecf4ff;
	border-color : #88b0f0;
}

div.warning {
	background : #fff7d5;
	border-color : #e7d796;;
}

div.error {
	background : #ffcccc;
	border-color : #ff0000;
}

div.warning img, div.notice img, div.error img {
	margin-right : 4px;
	vertical-align : middle;
}

div.warning span, div.notice span, div.error span {
	display : table-cell;
	vertical-align : middle;
}

/* @422 */
img.markedPic, img.pubPic {
	cursor : pointer;
	vertical-align : middle;
}

div.tagCloudContainer {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	text-align : center;
}

div.errorExplained {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
}

ul.feedErrorsList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}

ul.feedErrorsList em {
	color : #555;
}

ul.browseFeedList {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : white;
	list-style-type : none;
	padding : 0px;

}

ul.browseFeedList li {
	margin : 0px;
	padding : 2px 4px 2px 4px;
}

span.subscribers {
	color : #808080;
}

div.subscribers {
	color : #808080;
	font-size : 12px;
	float : right;
}

div.browserDetails {
	margin : 5px 5px 5px 5px;
	padding : 5px;
}

ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.compact li {
	margin : 0px;
	padding : 0px;
}

.noborder {
	border-width : 0px;
}

/* @504 */
#overlay {
	background : white;
	left : 0;
	top : 0;
	height : 100%;
	width : 100%;
	z-index : 100;
	position : absolute;
}

#overlay_inner {
	font-weight : bold;
	margin : 1em;
}

/* @609 */
div.dlgSec {
	font-size : 12px;
	color : #555;
	font-weight : bold;
	clear : both;
	height : 20px;
}

div.dlgSecCont {
	position : relative;
	left : 150px;
	top : -20px;
	float : left;
	font-size : 12px;
	font-weight : normal;
}

div.dlgSecCont hr {
	height : 0px;
	line-height : 0px;
	border : 0px solid transparent;
	margin : 2px;
}

div.dlgSecCont > * {
	position : relative;
	top : -2px;
}

div.dlgButtons {
	text-align : right;
	clear : both;
}

/* @669 */
div#cmdline {
	position : absolute;
	left : 5px;
	bottom : 5px;
	font-size : 11px;
	color : #555;
	font-weight : bold;
	background-color : white;
	border : 1px solid #88b0f0;
	padding : 3px 5px 3px 5px;
	z-index : 5;
}

/* @882 */
.dijitDialog .dijitToolbar {
	border : 1px solid #c0c0c0;
}

/* @944 */
ul.helpKbList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}

ul.helpKbList span.hksequence {
	width : 6em;
	margin-left : 20px;
	color : #88b0f0;
	font-weight : bold;
	display : inline-block;
}

ul.helpKbList h2 {
	margin-top : 0px;
}

/* @1029 */
select.attachments {
	display : block;
	margin-top : 10px;
	max-width : 120px;
}


/* RESET ************************************************************/

html {
	font: 12px/1.5 Arial, Helvetica, sans-serif;
}
:focus {
	outline: none;
}
input[type="search"] {
	-webkit-appearance: none;
}
.claro .dijitBorderContainer,
.claro .dijitSplitContainer-dijitContentPane,
.claro .dijitBorderContainer-dijitContentPane {
	padding: 0;
}
img,
.claro .dijitSplitContainer-child,
.claro .dijitBorderContainer-child {
	border: 0;
}


/* BASE LAYOUT ************************************************************/

#ttrssMain,
#ttrssPrefs {
	overflow: hidden;
}
#main {
	width: auto;
}
#main_toolbar_form,
.actionChooser {
	display: table-cell;
}
#main_toolbar_form {
	width: 100%;
	white-space: nowrap;
}
.actionChooser {
	text-align: right;
}
#headlines-toolbar_splitter,
#toolbar_splitter {
	display: none;
}
img.feedIcon,
img.tinyFeedIcon  {
	width : 16px;
	height : 16px;
}


/* STYLING ************************************************************/

html {
	color: #333;
}
a {
	color: #7b1;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.dijitBorderContainer,
.dijitBorderContainerNoGutter {
	overflow: visible;
}
#ttrssMain #main {
	padding: 0 30px;
}
#main-toolbar {
	padding: 4px 0 5px;
	border: 0;
}
#main,
#feeds-holder,
#main-toolbar,
#main #headlines-wrap-inner .dijitSplitter {
	background: #e8e8e8;
}
#main .dijitSplitterHover,
#main .dijitSplitterActive {
	background: transparent;
}
#main .dijitSplitterThumb {
	display: none;
}

/* feed tree */
#main_toolbar_form > .dijitButton {
	position: fixed;
	top: 5px;
	left: 5px;
}
#main_toolbar_form > .dijitButton .dijitButtonContents {
	font-size: 11px;
	font-family: "HelveticaNeue-condensed", "Arial Narrow", "Nimbus Sans Novus D Condensed bold", Arial, Helvetica sans-serif;
	color: #777;
}
#main_toolbar_form > .dijitButton .dijitButtonText {
	padding: 0;
}
#ttrssMain #feedTree {
	padding: 30px 20px 30px 0;
}
#feeds-holder .dijitTreeRow {
	padding: 2px 0;
	border: none;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #777;
}
#feeds-holder .dijitTreeRowHover {
	background: transparent;
	color: #666;
}
#feeds-holder .dijitTreeRowSelected {
	background: #d8d8d8;
	box-shadow: inset 0 0 2px rgba(0,0,0,.1);
}
#feeds-holder .dijitTreeLabel.Unread {
	font-weight: bold;
	color: #666;
}
#feeds-holder .dijitTreeRow.Error,
#errorButton {
	color: #d44;
}
#feeds-holder .dijitTreeRow.Hidden {
	display: none;
}
#feeds-holder img.feedIcon {
	margin: -8px;
	margin-right: 2px;
}
#feeds-holder .counterNode {
	float: right;
	padding: 1px 5px 0;
	font-size: 11px;
	color: #aaa;
}
#feeds-holder .dijitTreeRowHover .counterNode,
#feeds-holder .dijitTreeRowSelected .counterNode {
	color: #999;
}
#feeds-holder .dijitTreeExpando {
	margin: 0 -3px 0 3px;
}
#feeds-holder .dijitFolderClosed,
#feeds-holder .dijitFolderOpened,
#feeds-holder .dijitTreeExpandoLeaf {
	display: none;
}

/* main */
#headlines-wrap-inner {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
#headlines-toolbar {
	padding: 35px 35px 10px;
	min-height: 20px;
	text-align: right;
	color: #bbb;
}
#headlines-toolbar .dijitSelect {
	margin: -2px 0 0 10px;
	color: #333;
}
#headlines-toolbar > .r {
	float: left;
	margin-top: -10px;
}
#headlines-toolbar > .r img {
	vertical-align: baseline !important;
}
#feed_title {
	padding-right: 3px;
	font: normal normal normal 28px/33px "HelveticaNeue-condensed", "Arial Narrow", "Nimbus Sans Novus D Condensed bold", Arial, Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}
#feed_title,
#feed_title a {
	color: #333;
}
#selected_prompt {
	float: right;
	padding: 10px 0 0 10px;
}
#headlines-frame {
	padding: 0 35px;
}

/* articles - common */
div.articleNote {
	margin: 5px 34px;
	border-radius: 0;
}

.cdm {
	position: relative;
}
.cdm:first-child,
.hl:first-child {
	margin-top: 5px;
}
.cdm > hr {
	display: none;
}
.cdm .title,
.hlTitle {
	font-weight: bold;
}
.hlTitle .contentPreview {
	font-weight: normal;
}
.cdm .title,
.cdm .cdmHeader,
.hl .hlTitle a,
.hl .hlUpdated {
	color: #999;
}
.cdm.Unread .title,
.cdm.Unread .cdmHeader,
.hl.Unread .hlTitle a,
.hl.Unread .hlUpdated,
.postHeader .postTitle a {
	color: #333;
}
.cdm .title:hover,
.hlTitle a:hover,
.postHeader .postTitle a {
	text-decoration: none;
}
.cdmHeader img,
.cdmHeader input,
.cdmFooter img,
.hl img,
.hl input {
	vertical-align: middle;
	margin: 0px 2px;
}
.cdmHeader .updated,
.cdmHeader .hlFeed,
.cdmHeader .hlFeed a {
	vertical-align: baseline;
}
.cdmHeader > div,
.cdmHeader .updated,
.hlLeft,
.hlUpdated,
.hlRight {
	white-space: nowrap;
}
.hlUpdated div {
	display: inline;
	padding-left: 10px;
}
.cdmHeader > div:not(.hlFeed) {
	vertical-align: top !important;
}
.cdmHeader .titleWrap,
.hl .hlTitle {
	width: 100%;
}
.cdmHeader .updated,
.cdmHeader .hlFeed,
.hlUpdated {
	font-size: 11px;
}
.cdmHeader .hlFeed a,
.hlUpdated .hlFeed {
	display: inline-block;
	padding: 0 5px;
	border-radius: 3px;
	color: #333;
}
.cdmContentInner,
.postContent {
	clear: both;
	overflow: auto;
	font-size: 14px;
}
.cdmContentInner h1,
.postContent h1,
.cdmContentInner h2,
.postContent h2,
.cdmContentInner h3,
.postContent h3,
.cdmContentInner h4,
.postContent h4,
.cdmContentInner h5,
.postContent h5,
.cdmContentInner h6,
.postContent h6 {
	font-family: "HelveticaNeue-condensed", "Arial Narrow", "Nimbus Sans Novus D Condensed bold", Arial, Helvetica sans-serif;
	margin-top: 35px;
	margin-bottom: 14px;
	text-rendering: optimizeLegibility;
}
.cdmContentInner h1,
.postContent h1,
.cdmContentInner h2,
.postContent h2 {
	font-weight: normal;
}

.cdmContentInner p,
.postContent p {
	max-width: 50em;
}
.cdmContentInner img,
.postContent img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.cdmContentInner {
	padding: 10px 34px;
}
.postHeader,
.postContent {
	padding: 10px 30px;
}
.postHeader {
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
	font-size: 11px;
	color: #777;
}
.postHeader .postDate {
	float: right;
	padding-top: 3px;
	white-space: nowrap;
}
.postHeader .postTitle a {
	font-size: 14px;
	font-weight: bold;
}
.postTags > * {
	vertical-align: middle;
	margin: 0 1px;
}
.cdmFooter {
	clear: both;
	padding: 5px;
}

/* articles - expanded */
.cdm.expanded {
	margin-bottom:15px;
	border: 1px solid #eee;
	padding: 45px 0 30px;
}
.cdm.expanded .cdmHeader,
.cdm.expanded .cdmFooter {
	padding: 0 34px;
}
.cdm.expanded.active {
	border-color: #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.cdm.expanded .title {
	font: normal normal normal 28px/33px "HelveticaNeue-condensed", "Arial Narrow", "Nimbus Sans Novus D Condensed bold", Arial, Helvetica sans-serif;
}
.cdm.expanded .cdmHeader > div:first-child,
.cdm.expanded .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .updated,
.cdm.expanded .cdmHeader .updated + div {
	position: absolute;
	top: 25px;
}
.cdm.expanded .cdmHeader > div:first-child {
	left: 35px;
}
.cdm.expanded .cdmHeader .hlFeed {
	left: 100px;
}
.cdm.expanded .cdmHeader .updated {
	right: 80px;
}
.cdm.expanded .cdmHeader .updated + div {
	right: 35px;
}

/* articles - expandable */
.cdm.expandable,
.hl {
	border: 1px solid transparent;
	border-top-color: #eee;
}
.cdm.expandable .cdmHeader,
.hl {
	margin-bottom: -1px;
	cursor: pointer;
}
/*.cdm.expandable.active .cdmHeader,
.cdm.expandable.active .cdmFooter,
.hl.active,*/
.cdm.expandable .cdmHeader:hover,
.hl:hover {
	background: #f5f5f5;
}
.cdm.expandable.active {
	border-color: #ccc;
}
.cdm.expandable .cdmHeader,
.hl {
	display: table;
}
.cdm.expandable .cdmHeader > *,
.hl > * {
	display: table-cell;
	padding: 5px;
}

/* extras */
.cdmFeedTitle {
	padding: 40px 0 25px;
	color: #bbb;
}
.cdmFeedTitle:first-child {
	padding-top: 30px;
}
.cdmFeedTitle > div:first-child{
	float: none !important;
	display: inline-block;
	padding-right: 7px;
}
.cdmFeedTitle .title {
	font: normal normal normal 20px/1.25 "HelveticaNeue-condensed", "Arial Narrow", "Nimbus Sans Novus D Condensed bold", Arial, Helvetica sans-serif;
	padding-right: 7px;
}
.cdmFeedTitle .title,
.cdmFeedTitle a {
	color: #bbb;
}
.whiteBox {
	text-align: center;
	padding: 1em;
}
.insensitive {
	color: #bbb;
}
#feeds-holder,
#headlines-frame,
#content-insert {
	-webkit-overflow-scrolling: touch;
}


/* PREFERENCES ************************************************************/

/* from prefs.css */

/* @24 */
#pref-filter-wrap, #pref-filter-header, #pref-filter-content,
#pref-label-wrap, #pref-label-header, #pref-label-content,
#pref-user-wrap, #pref-user-header, #pref-user-content,
#pref-instance-wrap, #pref-instance-header, #pref-instance-content {
	margin : 0;
	padding : 0;
	border-width : 0;
}

#userConfigTab, #labelConfigTab, #filterConfigTab, #pref-feeds-feeds, #instanceConfigTab {
	padding : 0;
}

/* @53 */
div.prefProfileHolder, div.prefFeedOPMLHolder, div.inactiveFeedHolder {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : #ecf4ff;
}
div.filterTestHolder, div.prefFeedOPMLHolder {
	border-width : 1px;
}

ul.selfUpdateList {
	height : 200px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}

div#feedlistLoading, div#filterlistLoading, div#labellistLoading {
	text-align : center;
	padding : 5px;
	color : #555;
}

div#feedlistLoading img, div#filterlistLoading img, div#labellistLoading {
	margin-right : 5px;
}

/* 98 */
ul.userFeedList {
	height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #555;
	background-color : white;
	margin : 0px 0px 5px 0px;
	padding : 0px;
}

table.prefErrorLog tr.errrow td {
	font-size : 10px;
}

table.prefErrorLog tr.errrow td.errno {
	font-style : italic;
	font-weight : bold;
	white-space : nowrap;
}

table.prefErrorLog td.filename, table.prefErrorLog td.login, table.prefErrorLog td.timestamp {
	color : #555;
}

.dijitAccordionContainer-child {
	box-shadow : inset 0px 0px 3px rgba(0,0,0,0.2);
}


/* layout */

#ttrssPrefs a {
	color: #08e;
}
#ttrssPrefs #header {
	position: relative;
	z-index: 1;
	float: right;
	padding: 15px 10px 0;
}
#ttrssPrefs #pref-tabs {
	padding: 5px 10px 0;
}
#ttrssPrefs #footer {
	padding: 0 10px 5px;
	text-align: center;
	background: #e8e8e8;
}

/* content */

#ttrssPrefs h1,
#ttrssPrefs h2,
#ttrssPrefs h3,
#ttrssPrefs h4,
#ttrssPrefs h5,
#ttrssPrefs h6 {
	margin-top: 12px;
	margin-bottom: 3px;
}
#ttrssPrefs .feedParam {
	font-size: 11px;
	color: #999;
}
#ttrssPrefs a.bookmarklet {
	padding: 2px 5px;
	border-radius: 3px;
	background: #ddd;
	color: #333;
	cursor: move;
}
#ttrssPrefs a.bookmarklet:hover {
	text-decoration: none;
}
