@font-face {
    font-family: 'SansCn';
    src: local('Arial Narrow'),
         local('Liberation Sans Narrow'),
         url('feedly/fonts/texgyreheroscn-regular-webfont.woff') format('woff'),
         url('feedly/fonts/texgyreheroscn-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'SansCn';
    src: local('HelveticaNeue-CondensedBold'),
         local('Arial Narrow'),
         local('Liberation Sans Narrow'),
         url('feedly/fonts/texgyreheroscn-bold-webfont.woff') format('woff'),
         url('feedly/fonts/texgyreheroscn-bold-webfont.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'SansCn';
    src: local('Arial Narrow'),
         local('Liberation Sans Narrow'),
         url('feedly/fonts/texgyreheroscn-italic-webfont.woff') format('woff'),
         url('feedly/fonts/texgyreheroscn-italic-webfont.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'SansCn';
    src: local('Arial Narrow'),
         local('Liberation Sans Narrow'),
         url('feedly/fonts/texgyreheroscn-bolditalic-webfont.woff') format('woff'),
         url('feedly/fonts/texgyreheroscn-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* FROM TT-RSS.CSS ************************************************************/

/* @66 */
div.articleNote {
	background-color : #fff7d5;
	padding : 5px;
	border-radius : 4px;
	margin : 5px;
	border-style : solid;
	border-color : #e7d796;
	border-width : 1px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
	background-color : #fff7d5;
	color : #9a8c59;
}

div.articleNote div.noteEdit {
	float : right;
	cursor : pointer;
}

/* @129 */
#notify {
	bottom : 10px;
	right : 10px;
	border-width : 1px;
	border-style : solid;
	position : absolute;
	font-size : 12px;
	z-index : 99;
	max-width : 200px;
	min-width : 100px;
	padding : 5px;
	-width : 200px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.2);
}

#notify img {
	vertical-align : middle;
	max-height : 14px;
}

#notify span.msg {
	width : 100%;
}

#notify span.close {
	text-align : right;
}

#notify span {
	display : table-cell;
	vertical-align : middle;
	padding : 4px;
}

.notify {
	border-color : #d7c47a;
	background-color : #fff7d5;
}

.notify.progress {
	border-color : #d7c47a;
	background-color : #fff7d5;
}

.notify.info {
	border-color : #88b0f0;
	background-color : #ecf4ff;
}

.notify.error {
	background-color : #ffcccc;
	border-color : #ff0000;
}

/* @227 */
div.filterTestHolder {
	height : 300px;
	overflow : auto;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : #ecf4ff;
	border-width : 1px 1px 1px 1px;
}

/* @268 */
div.notice, div.warning, div.error {
	padding : 4px 10px 4px 4px;
	display : inline-block;
	margin : 2px 0px 4px 0px;
	font-size : 12px;
	border-style : solid;
	border-color : #ccc;
	border-radius : 4px;
	border-width : 1px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.1);
}

div.notice div.inner, div.warning div.inner, div.error div.inner {
	vertical-align : middle;
}

div.notice {
	background : #ecf4ff;
	border-color : #88b0f0;
}

div.warning {
	background : #fff7d5;
	border-color : #e7d796;;
}

div.error {
	background : #ffcccc;
	border-color : #ff0000;
}

div.warning img, div.notice img, div.error img {
	margin-right : 4px;
	vertical-align : middle;
}

div.warning span, div.notice span, div.error span {
	display : table-cell;
	vertical-align : middle;
}

/* @422 */
img.markedPic, img.pubPic {
	cursor : pointer;
	vertical-align : middle;
}

div.tagCloudContainer {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	text-align : center;
}

div.errorExplained {
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 5px 0px 5px 0px;
	padding : 5px;
}

ul.feedErrorsList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}

ul.feedErrorsList em {
	color : #555;
}

ul.browseFeedList {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : white;
	list-style-type : none;
	padding : 0px;

}

ul.browseFeedList li {
	margin : 0px;
	padding : 2px 4px 2px 4px;
}

span.subscribers {
	color : #808080;
}

div.subscribers {
	color : #808080;
	font-size : 12px;
	float : right;
}

div.browserDetails {
	margin : 5px 5px 5px 5px;
	padding : 5px;
}

ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

ul.compact li {
	margin : 0px;
	padding : 0px;
}

.noborder {
	border-width : 0px;
}

/* @611 */
div.dlgSec {
	font-size : 12px;
	color : #555;
	font-weight : bold;
	clear : both;
	height : 20px;
}

div.dlgSecCont {
	position : relative;
	left : 150px;
	top : -20px;
	float : left;
	font-size : 12px;
	font-weight : normal;
}

div.dlgSecCont hr {
	height : 0px;
	line-height : 0px;
	border : 0px solid transparent;
	margin : 2px;
}

div.dlgSecCont > * {
	position : relative;
	top : -2px;
}

div.dlgButtons {
	text-align : right;
	clear : both;
}

/* @745 */
div.fatalError {
	margin-bottom : 10px;
}

div.fatalError button {
	margin-top : 5px;
}

div.fatalError textarea {
	width : 100%;
	height : 100px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* @882 */
.dijitDialog .dijitToolbar {
	border : 1px solid #c0c0c0;
}

/* @933 */
ul#filterDlg_Matches, ul#filterDlg_Actions {
	max-height : 100px;
	overflow : auto;
	list-style-type : none;
	border-style : solid;
  	border-color : #c0c0c0;
	border-width : 0px 1px 1px 1px;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 0px;
}

ul#filterDlg_Matches li, ul#filterDlg_Actions li {
	cursor : pointer;
	padding : 0px 0px 0px 5px;
}

ul#filterDlg_Matches li div.dijitCheckBox, ul#filterDlg_Actions li div.dijitCheckBox {
	margin-right : 5px;
}

ul.helpKbList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}

ul.helpKbList span.hksequence {
	width : 6em;
	margin-left : 20px;
	color : #88b0f0;
	font-weight : bold;
	display : inline-block;
}

ul.helpKbList h2 {
	margin-top : 0px;
}

/* @1029 */
select.attachments {
	display : block;
	margin-top : 10px;
	max-width : 120px;
}


/* RESET ************************************************************/

html {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
:focus {
	outline: none;
}
input[type="search"] {
	-webkit-appearance: none;
}
.claro .dijitBorderContainer,
.claro .dijitSplitContainer-dijitContentPane,
.claro .dijitBorderContainer-dijitContentPane {
	padding: 0;
}
img,
.claro .dijitSplitContainer-child,
.claro .dijitBorderContainer-child {
	border: 0;
}


/* BASE LAYOUT ************************************************************/

#ttrssMain,
#ttrssPrefs {
	overflow: hidden;
}
#main {
	width: auto;
}
#main-toolbar {
	display: table;
	width: 100%;
}
#main_toolbar_form,
.actionChooser {
	display: table-cell;
	white-space: nowrap;
}
.actionChooser {
	text-align: right;
}
#headlines-toolbar_splitter,
#toolbar_splitter {
	display: none;
}
img.feedIcon,
img.tinyFeedIcon  {
	width : 16px;
	height : 16px;
}


/* SKINNING ************************************************************/

html {
	color: #444;
}
a {
	color: #6b3;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#ttrssMain .dijitDialogUnderlay {
	background: #000;
	opacity: .2;
}
#ttrssMain .dijitDialog {
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
#ttrssMain .dijitDialogTitleBar {
	border: none;
	padding: 5px 10px 4px;
	background: #eee;
	font-weight: bold;
}
#ttrssMain .dijitDialogCloseIcon {
	top: 1px;
	right: 10px;
	background: none;
	font-size: 22px;
	line-height: 1;
	font-weight: normal;
	text-align: right;
	color: #999;
	-webkit-transition: color .2s;
	transition: color .2s;
}
#ttrssMain .dijitDialogCloseIcon:hover {
	color: #222;
}
#ttrssMain .dijitDialogCloseIcon:before {
	content: "\00d7";
}
#ttrssMain .dijitDialogPaneContent {
	border-top-color: #eaeaea;
	padding: 10px;
}
#ttrssMain .dijitButton .dijitButtonNode {
	padding: 5px 7px;
	border-color: #e5e5e5;
	border-radius: 2px;
	background: #eee;
	color: #444;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-webkit-transition: all .2s;
	transition: all .2s;
}
#ttrssMain .dijitButtonHover .dijitButtonNode {
	background: #e5e5e5;
	border-color: #ddd;
	color: #222;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
#ttrssMain .dijitButtonActive .dijitButtonNode {
	background: #ddd;
	border-color: #ccc;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
	-webkit-transition: none;
	transition: none;
}
.claro .dijitTextBox,
.claro .dijitSelect {
	background: #fff;
	border-radius: 2px;
}


/* STYLING ************************************************************/

.dijitBorderContainer,
.dijitBorderContainerNoGutter {
	overflow: visible;
}
#ttrssMain #main {
	padding: 0 30px;
}
#main-toolbar {
	padding: 4px 0 5px;
	border: 0;
}
#main,
#feeds-holder,
#main-toolbar,
#main #headlines-wrap-inner .dijitSplitter {
	background: #eee;
}
#main .dijitSplitterHover,
#main .dijitSplitterActive {
	background: transparent;
}
#main .dijitSplitterThumb {
	display: none;
}
#content-wrap .dijitSelect,
#content-wrap .dijitButtonContents,
#content-wrap .dijitButtonNode,
#content-wrap .dijitArrowButton
{
	border-color: transparent;
	background: transparent;
	color: #999;
	transition: color .2s;
}
#headlines-toolbar .dijitButtonContents {
	color: #aaa;
}
#main_toolbar_form > * {
	margin-right: 5px;
}
#content-wrap .dijitButtonContents,
#content-wrap .dijitButtonText {
	padding-left: 0;
	padding-right: 0;
}
#content-wrap .dijitArrowButtonInner {
	background: transparent url("feedly/iconsprite.png") -16px 0 no-repeat;
	background-size: 180px 16px;
	opacity: .3;
	transition: opacity .2s;
}
#content-wrap .dijitComboButton .dijitArrowButtonInner {
	background-position: -18px 0;
}
#content-wrap .dijitSelect:hover .dijitButtonContents,
#content-wrap .dijitDropDownButton:hover .dijitButtonContents,
#content-wrap .dijitComboButton .dijitButtonContents:hover,
#content-wrap .dijitOpened .dijitButtonContents {
	color: #444;
}
#content-wrap .dijitSelect:hover .dijitArrowButtonInner,
#content-wrap .dijitDropDownButton:hover .dijitArrowButtonInner,
#content-wrap .dijitComboButton .dijitArrowButtonInner:hover,
#content-wrap .dijitOpened .dijitArrowButtonInner {
	opacity: .75;
}
#ttrssMain .dijitPopup {
	padding: 5px 0;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #fff;
}
#ttrssMain .dijitMenu {
	border: 0;
}
#ttrssMain .dijitMenuItem {
	color: #444;
}
#ttrssMain .dijitMenu td {
	display: none;
}
#ttrssMain .dijitMenu .dijitMenuItemLabel {
	display: table-cell;
	padding: 4px 10px;
	border: 0;
}
#ttrssMain .dijitSelectSelectedOption .dijitMenuItemLabel {
	font-weight: normal;
}
#ttrssMain .dijitMenuItemHover .dijitMenuItemLabel,
#ttrssMain .dijitMenuItemSelected .dijitMenuItemLabel {
	background: #eee;
	color: #222;
}
#ttrssMain .dijitMenuItemDisabled .dijitMenuItemLabel {
	background: #fff;
	color: #444;
	font-weight: bold;
	opacity: 1;
	padding-top: 5px;
}
#ttrssMain .dijitMenuItemDisabled .dijitMenuItemLabel:before {
	content: "";
	display: block;
	padding: 0 0 8px;
	border-top: 1px solid #ddd;
}
#overlay {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #fff;
}
#overlay:before {
	content: "";
	height: 90%;
}
#overlay:before,
#overlay_inner {
	display: inline-block;
	vertical-align: middle;
}
#overlay_inner .insensitive {
	margin: 0 0 20px;
}
#overlay_inner .dijitProgressBar {
	margin: -10px 0;
	border: 1px solid #d8d8d8;
}
#overlay_inner .dijitProgressBarFull {
	border: 0;
}
#overlay_inner .dijitProgressBarTile {
	background: #e5e5e5;
}
#overlay_inner .dijitProgressBarLabel {
	color: #444;
	font-weight: bold;
}
.labelColorIndicator,
.labelColorIndicator2,
.hlLabelRef {
	display: inline-block;
	border-radius: 99px;
	background-color: #fec;
	color: #444;
	font-weight: bold;
}

.labelColorIndicator,
.labelColorIndicator2 {
	width: 13px;
	height: 13px;
	border: 1px solid rgba(0,0,0,.1);
	font-size: 10px;
	line-height: 1;
	text-align: center;
}
.hlLabelRef {
	margin-right: 5px;
	border: 1px solid rgba(0,0,0,.06);
	padding: 0 4px;
	font-size: 9px;
	line-height: 1;
}
.author:not(:empty) + span .hlLabelRef:first-child {
	margin-left: 5px;
}

/* feed tree */
#main_toolbar_form > .dijitButton {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30px;
}
#main_toolbar_form > .dijitButton .dijitButtonNode {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
	-webkit-transition: background .5s;
	transition: background .5s;
}
#main_toolbar_form > .dijitButton .dijitButtonContents,
#main_toolbar_form > .dijitButton .dijitButtonContents:before,
#main_toolbar_form > .dijitButton .dijitButtonContents:after {
	position: absolute;
	width: 16px;
	border-top: 3px solid;
	background: transparent;
}
#main_toolbar_form > .dijitButton .dijitButtonContents {
	top: 51px;
	left: 8px;
	padding: 0;
	overflow: hidden;
	text-indent: 100%;
	color: #ccc;
	-webkit-transition: color .5s;
	transition: color .5s;
}
#main_toolbar_form > .dijitButton .dijitButtonContents:before,
#main_toolbar_form > .dijitButton .dijitButtonContents:after {
	content: "";
	top: 3px;
	left: 0;
}
#main_toolbar_form > .dijitButton .dijitButtonContents:after {
	top: 9px;
}
#main_toolbar_form > .dijitButton:hover .dijitButtonNode {
	background: rgba(0,0,0,.05);
}
#main_toolbar_form > .dijitButton:hover .dijitButtonContents {
	color: #444;
}
#feeds-holder #feedTree {
	padding: 46px 5px 30px 0;
}
#feeds-holder .dijitTreeRow {
	padding: 4px 0 3px;
	border: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
	-webkit-transition: color .2s;
	transition: color .2s;
}
#feeds-holder .dijitTreeRow,
#feeds-holder .dijitTreeRow * {
	cursor: pointer;
	background: transparent;
}
#feeds-holder .dijitTreeRow:hover,
#feeds-holder .dijitTreeRowSelected {
	color: #000;
	-webkit-transition: none;
	transition: none;
}
#feeds-holder .dijitTreeRowSelected {
	background: rgba(0,0,0,.05);
}
#feeds-holder .dijitTreeLabel.Unread {
	font-weight: bold;
}
#feeds-holder .dijitTreeRow.Error,
#errorButton {
	color: #e44;
}
#feeds-holder .dijitTreeRow.Hidden {
	display: none;
}
#feeds-holder img.feedIcon,
#feeds-holder .labelColorIndicator {
	vertical-align: middle;
	position: relative;
	top: -1px;
	left: -5px;
}
#feeds-holder .counterNode {
	float: right;
	padding: 1px 10px 0 5px;
	font-size: 10px;
}
#feeds-holder .dijitTreeRow .counterNode.aux {
	color: #aaa;
}
#feeds-holder .dijitTreeRow .dijitTreeExpando {
	margin: -1px 0 1px 5px;
	background-image: url("feedly/iconsprite.png");
	background-size: 180px 16px;
	opacity: .2;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
#feeds-holder .dijitTreeRowSelected img[src*=images],
#feeds-holder .dijitTreeRow:hover img[src*=images] {
	opacity: .3;
	-webkit-transition: none;
	transition: none;
}
#feeds-holder .dijitTreeRowSelected .dijitTreeExpando,
#feeds-holder .dijitTreeRow:hover .dijitTreeExpando {
	opacity: .35;
	-webkit-transition: none;
	transition: none;
}
#feeds-holder .dijitTreeRow .dijitTreeExpando:hover {
	opacity: .75;
}
#feeds-holder .dijitTreeExpandoClosed {
	background-position: 1px 0;
}
#feeds-holder .dijitTreeExpandoOpened {
	background-position: -17px 0;
}
#feeds-holder .dijitFolderClosed,
#feeds-holder .dijitFolderOpened,
#feeds-holder .dijitTreeExpandoLeaf {
	display: none;
}
#feeds-holder .dijitTreeExpandoLeaf[src*=indicator] ~ .dijitTreeContent:after  {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 11px;
	background: transparent url("../images/indicator_tiny.gif") 0 0 no-repeat;
}
#feeds-holder[style*=none] ~ .dijitSplitter {
	display: none;
}

/* main */
#headlines-wrap-inner {
	background: #fff;
}
#headlines-toolbar {
	z-index: 3;
	overflow: visible;
	padding: 20px 35px 0;
	min-height: 25px;
	text-align: right;
	color: #fff;
	cursor: default;
}
#headlines-toolbar:after {
	content: "";
	position: absolute;
	bottom: -1px;
	right: 35px;
	left: 35px;
	border-top: 1px solid #eee;
}
#headlines-toolbar > a {
	text-decoration: none;
	color: #aaa;
	margin-left: 8px;
	-webkit-transition: color .2s;
	transition: color .2s;
}
#headlines-toolbar > a:hover {
	color: #444;
}
#headlines-toolbar .dijitSelect {
	margin: -2px 0 0 10px;
}
#headlines-toolbar > .r {
	float: left;
	white-space: nowrap;
	color: #aaa;
}
#headlines-toolbar > .r img {
	position: relative;
	top: -3px;
	left: 2px;
}
#floatingTitle .title,
.postHeader .postTitle a  {
	font: normal normal bold 14px/16px SansCn;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
#feed_title,
#feed_title a {
	color: #444;
	font: normal normal bold 18px/14px SansCn;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
#selected_prompt {
	float: right;
	position: relative;
	left: 10px;
}
#headlines-frame {
	z-index: 4;
	padding: 0 35px;
	background: transparent;
}
#headlines-frame:before {
	content: "";
	display: block;
	border-top: 25px solid #fff;
	margin: 0 -35px;
}
#headlines-spacer {
	position: relative;
	height: 100%;
}
#headlines-spacer:after {
	content: "The End";
	position: absolute;
	bottom: 0;
	right: -35px;
	left: -35px;
	padding: 50px;
	background: #ddd;
	color: #999;
	text-shadow: 0 1px 1px #fff;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;

}
.whiteBox + #headlines-spacer {
	display: none;
}

/* articles - expandable / separete */
.cdm.expandable,
.hl {
	border: 1px solid transparent;
	border-top-color: #eee;
	border-bottom-color: #eee;
	margin-bottom: -1px;
}
.cdm.expandable:not(.active) .cdmHeader:hover,
.hl:hover,
.collapseBtn:hover {
	background: rgba(0,0,0,.038);
	cursor: pointer;
}
.cdm.expandable .cdmHeader,
.hl {
	display: table;
}
.cdm.expandable .cdmHeader > *,
.hl > *,
#floatingTitle > * {
	display: table-cell;
	vertical-align: top !important;
	padding: 7px 4px;
}
.cdmHeader > :first-child,
.scoreWrap,
.hlLeft,
.hlRight {
	word-spacing: -.31em;
	line-height: 1;
}
.hl .hlUpdated .hlFeed {
	display: none;
}
.postHeader .postTitle {
	margin-bottom: 3px;
}
.postHeader .postTags {
	margin-top: -1px;
}
.postHeader .postTags + div {
	clear: both;
	height: 0;
}

/* articles - expandable.active / expanded */
.cdm.expandable:not(.active) .cdmHeader {
	/* old flexbox: */
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	-moz-box-align: start;
	-webkit-box-align: start;
	-ms-flex-align: flex-start;
	/* new flexbox: */
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.cdm.expandable:not(.active) .cdmHeader > * {
	/* old flexbox: */
	display: block;
	-moz-box-ordinal-group: 2;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	/* new flexbox: */
	-webkit-order: 2;
	order: 2;
}
.cdm.expandable:not(.active) .cdmHeader > :first-child,
.cdm.expandable:not(.active) .cdmHeader > .hlFeed {
	/* old flexbox: */
	-moz-box-ordinal-group: 1;
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	/* new flexbox: */
	-webkit-order: 1;
	order: 1;
}
.cdm.expandable:not(.active) .cdmHeader > .titleWrap {
	/* old flexbox: */
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 99;
	-webkit-flex: 99;
	flex: 99;
}
.cdm.expandable:not(.active) .cdmHeader > .hlFeed {
	width: 132px;
}
.cdm.expandable:not(.active) .cdmHeader > .hlFeed a {
	max-width: 115px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cdm.expandable.active,
.cdm.expanded {
	border: 1px solid #eee;
	margin-bottom: 17px;
}
.cdm.expandable.active .cdmHeader,
.cdm.expanded .cdmHeader {
	padding: 54px 34px 0;
}
.cdmFooter {
	clear: both;
	padding: 0 34px 30px;
}
.cdm.expandable.active .cdmHeader .titleWrap,
.cdm.expanded .cdmHeader > .titleWrap {
	padding: 0;
}
.cdm.expandable.active .title,
.cdm.expanded .title {
	font: normal normal bold 28px/33px SansCn;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.cdm.expandable.active .title:after,
.cdm.expanded .title:after {
	content: " ";
	display: table;
	clear: both;
	margin-top: 5px;
}
.cdm.expandable.active .cdmHeader > :first-child,
.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expandable.active .cdmHeader .updated,
.cdm.expandable.active .cdmHeader .scoreWrap,
.cdm.expanded .cdmHeader > :first-child,
.cdm.expanded .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .updated,
.cdm.expanded .cdmHeader .scoreWrap {
	position: absolute;
	top: 34px;
	padding: 0;
}
.cdm.expandable.active .cdmHeader > :first-child,
.cdm.expanded .cdmHeader > :first-child {
	left: 34px;
}
.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .hlFeed {
	left: 80px;
}
.cdm.expandable.active .cdmHeader .updated,
.cdm.expanded .cdmHeader .updated {
	right: 80px;
}
.cdm.expandable.active .cdmHeader .scoreWrap,
.cdm.expanded .cdmHeader .scoreWrap {
	right: 34px;
}
.cdm.expandable.active .rchk,
.cdm.expanded .rchk,
#floatingTitle .rchk {
	display: none;
}

/* articles - common */
div.articleNote {
	margin: 5px 34px;
	border-radius: 0;
}
#headlines-frame .cdm,
.hl {
	position: relative;
}
.cdm.expanded.active,
.cdm.expandable.active,
.hl.active {
	z-index: 1;
	border-color: #ccc;
}
.cdm > hr {
	display: none;
}
.cdm .title,
.hlTitle {
	font-size: 13px;
	font-weight: bold;
}
.cdm .cdmExcerpt,
.cdm.expandable .author,
.hlTitle .contentPreview {
	font-size: 11px;
	font-weight: normal;
}
.cdm .title,
.cdm .cdmHeader,
.hl .hlTitle a,
.hl .hlUpdated {
	color: #999;
}
.cdm.Unread .title,
.cdm.Unread .cdmHeader,
.hl.Unread .hlTitle a,
.hl.Unread .hlUpdated,
.postHeader .postTitle a {
	color: #444;
}
.cdm.Unread .cdmExcerpt,
.cdm.Unread.expandable .author,
.hl.Unread .hlTitle .contentPreview {
	color: #999;
}
.cdm .title,
.hlTitle a {
	text-decoration: none;
}
.cdmHeader img,
.cdmHeader input,
.cdmFooter img,
.hl img,
.hl input,
#floatingTitle img,
#floatingTitle input {
	vertical-align: middle;
	margin: 0 2px;
}
.cdmHeader > div,
.cdmHeader .updated,
.hlLeft,
.hlUpdated,
.hlRight,
.author,
#floatingTitle > div,
#floatingTitle .updated {
	white-space: nowrap;
}
.hlUpdated div {
	display: inline;
	padding-left: 10px;
}
.cdmHeader .titleWrap,
.hl .hlTitle,
#floatingTitle .titleWrap {
	width: 100%;
	line-height: 14px;
}
.cdmHeader .updated,
.cdmHeader .hlFeed,
.hlUpdated,
#floatingTitle .updated {
	font-size: 11px;
}
.cdmHeader .hlFeed a {
	display: inline-block;
	margin-top: 1px;
	padding: 1px 6px 0;
	border: 1px solid rgba(0,0,0,.03);
	border-radius: 99px;
	background: rgba(0,0,0,.1);
	color: #444;
	line-height: 1;
}
.cdmContentInner {
	padding: 10px 34px;
}
.postHeader,
.postContent {
	padding: 10px 35px;
}
.postHeader {
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
	font-size: 11px;
	color: #999;
}
.postHeader .postDate {
	float: right;
	padding-top: 1px;
	white-space: nowrap;
}
.postTags > * {
	vertical-align: middle;
	margin: 0 1px;
}
.collapseBtn {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 6px 7px 7px;
	font-size: 11px;
	line-height: 8px;
	text-align: right;
	vertical-align: top;
	color: transparent;
	background: transparent;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.collapseBtn:hover {
	color: #999;
}
.collapseBtn:before {
	content: "Collapse article";
	position: relative;
	top: 1px;
	margin: 1px 18px 0;
	pointer-events: none;
}
.collapseBtn img {
	margin: -6px 0 -7px -9999px;
	padding: 6px 0 7px 9999px;
}

/* floating title extensions */
#floatingTitle {
	position: absolute;
	z-index: 5;
	top: 40px;
	right: 33px;
	left: 33px;
	background: #fff;
}
#floatingTitle:after {
	content: "";
	display: block;
	margin: 0 2px;
	border-bottom: 1px solid #eee;
}
#floatingTitle:not(:empty) {
	display: block !important;
}
#floatingTitle .title,
#floatingTitle .updated {
	color: #aaa;
}
#floatingTitle > :first-child {
	padding-left: 0;
}
#floatingTitle .scoreWrap {
	padding-right: 0;
}
#floatingTitle > :first-child:after,
#floatingTitle .scoreWrap:after {
  content: "";
  display: block;
  width: 40px;
}
#floatingTitle .hlFeed,
#floatingTitle .author,
#floatingTitle .hlLabelRef {
	display: none;
}

/* article content */
.cdmContentInner,
.postContent {
	clear: both;
	overflow: auto;
	font-size: 14px;
	line-height: 1.7;
}
.cdmContentInner h1,
.postContent h1,
.cdmContentInner h2,
.postContent h2,
.cdmContentInner h3,
.postContent h3,
.cdmContentInner h4,
.postContent h4,
.cdmContentInner h5,
.postContent h5,
.cdmContentInner h6,
.postContent h6 {
	margin-top: 35px;
	margin-bottom: 14px;
	font-family: SansCn;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.cdmContentInner p,
.postContent p {
	max-width: 45em;
}
.cdmContentInner tr,
.postContent tr {
	vertical-align: top;
}
.cdmContentInner iframe,
.postContent iframe {
	margin: .5em 0;
}
.cdmContentInner img,
.postContent img {
	max-width: 100%;
	width: auto;
	height: auto;
	margin: .5em 1em .5em 0;
}
.cdmContentInner figure,
.postContent figure {
	margin: 1em 0;
	font-size: 12px;
	line-height: 16px;
	font-style: italic;
}
.cdmContentInner pre,
.postContent pre {
	white-space: pre-wrap;
}
.cdmContentInner q,
.postContent q,
.cdmContentInner blockquote,
.postContent blockquote {
	display: block;
	margin: 1em 0;
	padding: 0 0 0 1em;
	border-left: 4px solid #ccc;
}

/* extras */
#cmdline {
	position: absolute;
	z-index: 5;
	bottom: 5px;
	left: 5px;
	padding: 1px;
	width: 18px;
	border-radius: 4px;
	background-color: #444;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.cdmFeedTitle {
	padding: 56px 0 28px;
	color: #aaa;
}
.cdmFeedTitle:first-child {
	padding-top: 14px;
}
.cdmFeedTitle > div:first-child{
	float: none !important;
	display: inline-block;
	padding: 0 12px 0 7px;
}
.cdmFeedTitle .title {
	font: normal normal bold 18px/24px SansCn;
	padding-right: 7px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.cdmFeedTitle .title,
.cdmFeedTitle a {
	color: #aaa;
}
.whiteBox {
	text-align: center;
	padding: 1em;
}
.insensitive {
	color: #aaa;
}
#feeds-holder,
#headlines-frame,
#content-insert {
	-webkit-overflow-scrolling: touch;
}

/* icons */
#ttrssMain img[src*='images/tag.png'],
#ttrssMain img[src*='images/fresh.png'],
#ttrssMain img[src*='images/mark_set'],
#ttrssMain img[src*='images/mark_unset'],
#ttrssMain img[src*='images/pub_set'],
#ttrssMain img[src*='images/pub_unset'],
#ttrssMain img[src*='images/archive.png'],
#ttrssMain img[src*='images/recently_read.png'],
/* new icons: */
#ttrssMain img[src*='images/folder.png'],
#ttrssMain img[src*='images/star.png'],
#ttrssMain img[src*='images/feed.png'],
#ttrssMain img[src*='images/time.png'],
#header-wrap .dijitCheckBox {
	padding-top: 16px;
	width: 16px;
	height: 0;
	background: transparent url("feedly/iconsprite.png") -148px 0 no-repeat;
	background-size: 180px 16px;
	opacity: .2;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
#header-wrap .dijitCheckBox {
	padding-top: 0;
	height: 16px;
}
#header-wrap .dijitCheckBox input {
	cursor: pointer;
}
#ttrssMain img[src*='images/tag.png'],
#ttrssMain img[src*='images/folder.png'], {
	background-position: -36px 0;
}
#ttrssMain img[src*='images/fresh.png'] {
	background-position: -52px 0;
}
#ttrssMain img[src*='images/mark_set'],
#ttrssMain img[src*='images/mark_unset'],
#ttrssMain img[src*='images/star.png'] {
	background-position: -68px 0;
}
#ttrssMain img[src*='images/pub_set'],
#ttrssMain img[src*='images/pub_unset'],
#ttrssMain img[src*='images/feed.png'] {
	background-position: -84px 0;
}
#ttrssMain img[src*='images/archive.png'] {
	background-position: -100px 0;
}
#ttrssMain img[src*='images/recently_read.png'],
#ttrssMain img[src*='images/time.png'] {
	background-position: -116px 0;
}
#headlines-toolbar img[src*='images/pub_set'] {
	background-position: -132px 0;
	opacity: .75;
}
#header-wrap img[src*='images/tag.png'] {
	background-position: -164px 0;
}
#header-wrap img[src*='images/mark_unset']:hover,
#header-wrap img[src*='images/pub_unset']:hover,
#header-wrap .dijitCheckBox:hover {
	opacity: .35;

}
#header-wrap img[src*='images/mark_set'],
#header-wrap img[src*='images/pub_set'],
#header-wrap .dijitCheckBox.dijitCheckBoxChecked {
	opacity: .75;
}


/* PREFERENCES ************************************************************/

/* from prefs.css */

/* @24 */
#pref-filter-wrap, #pref-filter-header, #pref-filter-content,
#pref-label-wrap, #pref-label-header, #pref-label-content,
#pref-user-wrap, #pref-user-header, #pref-user-content,
#pref-instance-wrap, #pref-instance-header, #pref-instance-content {
	margin : 0;
	padding : 0;
	border-width : 0;
}

#userConfigTab, #labelConfigTab, #filterConfigTab, #pref-feeds-feeds, #instanceConfigTab {
	padding : 0;
}

/* @51 */
div.prefProfileHolder, div.prefFeedOPMLHolder, div.inactiveFeedHolder {
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #c0c0c0;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : #ecf4ff;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
}
div.filterTestHolder, div.prefFeedOPMLHolder {
	border-width : 1px;
}

ul.selfUpdateList, ul.userFeedList {
	height : 200px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #c0c0c0;
	background-color : #ecf4ff;
	margin : 0px 0px 5px 0px;
	padding : 5px;
	box-shadow : inset 0px 0px 2px rgba(0,0,0,0.1);
	border-radius : 4px;
}

div#feedlistLoading, div#filterlistLoading, div#labellistLoading {
	text-align : center;
	padding : 5px;
	color : #555;
}

div#feedlistLoading img, div#filterlistLoading img, div#labellistLoading {
	margin-right : 5px;
}

/* 101 */
table.prefErrorLog tr.errrow td {
	font-size : 10px;
}

table.prefErrorLog tr.errrow td.errno {
	font-style : italic;
	font-weight : bold;
	white-space : nowrap;
}

table.prefErrorLog td.filename, table.prefErrorLog td.login, table.prefErrorLog td.timestamp {
	color : #555;
}

.dijitAccordionContainer-child {
	box-shadow : inset 0px 0px 3px rgba(0,0,0,0.2);
}


/* layout */

#ttrssPrefs a {
	color: #28c;
}
#ttrssPrefs #header {
	position: relative;
	z-index: 1;
	float: right;
	padding: 12px 10px 0;
}
#ttrssPrefs #pref-tabs {
	padding: 5px 10px 0;
}
#ttrssPrefs #footer {
	padding: 0 10px 5px;
	text-align: center;
	background: #eee;
}

/* content */

#ttrssPrefs h1,
#ttrssPrefs h2,
#ttrssPrefs h3,
#ttrssPrefs h4,
#ttrssPrefs h5,
#ttrssPrefs h6 {
	margin-top: 12px;
	margin-bottom: 3px;
}
#ttrssPrefs .feedParam,
#ttrssPrefs .labelParam,
#ttrssPrefs .prefHelp {
	font-size: 11px;
	color: #999;
}
#ttrssPrefs .feedParam,
#ttrssPrefs .labelParam {
	float: right;
	margin-right: 1em;
}
#ttrssPrefs .labelParam.disabled {
	color: #aaa;
}
#ttrssPrefs a.bookmarklet {
	display: inline-block;
	margin: 10px 50px 25px;
	padding: 3px 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	background: #eee;
	color: #000;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	cursor: move;
	-webkit-user-drag: element;
}
#ttrssPrefs a.bookmarklet:hover {
	text-decoration: none;
}
