@import "_variables.less";
@import "_flat.less";
@import "_feeds-holder.less";
@import "_toolbar-frame.less";
@import "_content-wrap.less";
@import "_content.less";
@import "_overlay.less";
@import "_prefs.less";

@font-face {
  font-family: "SansCn";
  font-style: normal;
  font-weight: normal;
  src: local("Arial Narrow"), local("Liberation Sans Narrow"),
    url("feedly/fonts/texgyreheroscn-regular-webfont.woff") format("woff"),
    url("feedly/fonts/texgyreheroscn-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "SansCn";
  font-style: normal;
  font-weight: bold;
  src: local("HelveticaNeue-CondensedBold"), local("Arial Narrow Bold"), local("Liberation Sans Narrow Bold"),
    url("feedly/fonts/texgyreheroscn-bold-webfont.woff") format("woff"),
    url("feedly/fonts/texgyreheroscn-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "SansCn";
  font-style: italic;
  font-weight: normal;
  src: local("Arial Narrow Italic"), local("Liberation Sans Narrow Italic"),
    url("feedly/fonts/texgyreheroscn-italic-webfont.woff") format("woff"),
    url("feedly/fonts/texgyreheroscn-italic-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "SansCn";
  font-style: italic;
  font-weight: bold;
  src: local("Arial Narrow Bold Italic"), local("Liberation Sans Narrow Bold Italic"),
    url("feedly/fonts/texgyreheroscn-bolditalic-webfont.woff") format("woff"),
    url("feedly/fonts/texgyreheroscn-bolditalic-webfont.ttf") format("truetype");
}

::-webkit-scrollbar {
  height: 4px;

  @media (hover: none) {
    width: 0 !important; // needed to also override dark themes
    height: 0;
  }
}

body.flat.flat ::-webkit-scrollbar-track {
  background-color: transparent;
}

.dijitOffScreen {
  left: -101vw !important;
}

// -----------------------------------------------------------------------------
// mobile styling
// -----------------------------------------------------------------------------
.media(0, lg, {
  // currently widest popular phone: 428px, + 37px feeds-toggle = 465px
  @feeds-width: calc(min(100vw, 465px) - @feeds-toggle-width);

  // allow swiping between sidebar and main content
  #main {
    overflow-x: auto;
  }
  #feeds-holder {
    width: @feeds-width !important;
  }
  #feeds-holder_splitter,
  #feed_current_unread,
  #toolbar > .material-icons {
    display: none;
  }
  #content-wrap {
    left: calc(@feeds-toggle-width + @feeds-width) !important;
    width: calc(100vw - @feeds-toggle-width) !important;
    margin-left: 0 !important;

    #feeds-holder[style*="none"] ~ & {
      left: @feeds-toggle-width !important;
    }
  }
  #toolbar-frame,
  #headlines-wrap-inner,
  #headlines-frame,
  #content-insert {
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
  }
});
.media(0, md, {
  :root:root {
    --base-spacing: 37px;
    --font-size-post: 14px;
  }

  .dijitDialog {
    max-width: 90vw;

    // several inputs and maybe textareas have a large fixed width set as inline style
    :is(.dijitTextArea, .dijitTextBox[style*="width"]) {
      width: 100% !important;

      // show warnint icon on same row, e. g. feed error on edit feed
      &:has(+ .material-icons) {
        width: calc(100% - 25px) !important;
      }
    }
  }

  // careful label baseline styling, further extended in _prefs.less
  :is(.dijitDialog, .ttrss_prefs) fieldset > label:first-of-type {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left !important;
  }
});
.media(0, sm, {
  :root:root {
    --content-spacing: 12px;
  }

  .dijitDialog {
    width: 90vw !important;
  }
});

body.flat {
  background-color: @default-bg;
  color: @default-text;

  #main {
    background-color: @color-panel-bg !important;
    font-size: @font-size-main;
  }
  &.ttrss_index #main {
    padding-left: @feeds-toggle-width;
  }

  .notify:not(.visible) {
    pointer-events: none;
  }

  span.highlight {
    margin: -0.1em -0.2em;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
    background-color: rgba(255, 192, 0, 0.5);
    color: @fg-text-muted;
  }

  // arrow icons, expando animation
  .dijitDropDownButton .dijitArrowButtonInner,
  .dijitArrowButton,
  .dijitTreeExpandoClosed,
  .dijitTreeExpandoOpened {
    &::before {
      content: "\f006";
    }
  }
  :is(.dijitTreeExpandoClosed, .dijitTreeExpandoOpened) {
    position: relative;
    top: -1px;
    left: -2px;
    transition: all 0.2s !important;
    font-size: 20px;
  }
  .dijitTreeExpandoClosed {
    transform: translate(3px, 3px) rotate(-90deg);
  }

  #pref_feeds_errors_btn,
  .dijitValidationTextBoxError .dijitValidationContainer,
  .exception-contents h3,
  .Error:not(.dijitTreeRowSelected) .dijitTreeLabel,
  #feeds-holder .Error .dijitTreeLabel,
  .icon-error,
  .net-alert {
    color: @color-error !important;
  }

  #updates-available {
    padding-right: 0 !important;
    color: @color-marked !important;
  }

  #feedEditDlg img.feedIcon {
    border-color: @border-darker;
    background-color: #fff;
  }
}
