@import "_variables.less";

#content-wrap#content-wrap {
  :is(.content, .content-inner, .content-shrink-wrap) {
    // pull centered table layouts from newsletter feeds to the left
    > [align="center"] {
      margin-left: 0;
    }
  }
  :is(.content, .content-inner) {
    font-family: @fonts-content;
    font-size: @font-size-post;
    line-height: 1.7;

    > :first-child {
      margin-top: 0;

      each(range(5), {
        .repeat('> :first-child', @value, {
          @{result} {
            margin-top: 0;
          }
        });
      });
    }
  }
  .content {
    :is(iframe, img, pre, video) {
      box-sizing: border-box;
      max-width: 100%;
    }
    :is(h1, h2, h3, h4, h5, h6) {
      margin-top: calc(2.5 * @font-size-post);
      margin-bottom: @font-size-post;
      font: bold 1em @fonts-heading;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }
    each(range(6), {
      h@{value} {
        .heading-font-size(@level: @value);
        .reading-width();
      }
    });
    :is(p, ul, ol, dl, figcaption) {
      .reading-width();

      box-sizing: border-box;
    }
    table {
      border-collapse: collapse;
    }
    :is(th, td) {
      padding: 0 0.5em;
      border: 1px solid @color-fade3;
      vertical-align: top;
    }
    th {
      background-color: @color-fade1;
    }
    // layout tables
    table[border="0"] {
      :is(th, td) {
        padding: 0;
        border: 0;

        ~ :is(th, td) {
          padding-left: 0.5em;
        }

        > :first-child {
          margin-top: 0; // because margins won't collapse across rows
        }
      }
    }
    hr {
      border-color: @color-fade3;
    }
    img:not(:where(.tagsPic)),
    video {
      display: block;
      margin: 1em 1em 1em 0;
    }
    :is(figure, .embed-responsive, iframe) {
      margin: 1em 0;
    }
    .embed-responsive > * {
      margin: 0;
    }
    // fix incorrectly nested html breaking out, incorrectly using p instead of figcaption
    figure {
      figcaption,
      > * ~ figcaption ~ *,
      > img + p:last-child {
        margin: -0.5em 0 0;
        font-size: 0.857em;
        font-style: italic;
        line-height: 1.333;
      }
      figcaption:first-child {
        margin: 0 0 -0.5em;
      }
    }
    :is(pre, code) {
      border: 1px solid @color-fade1;
      background-color: @color-fade1;
      color: inherit !important;
      font-family: @fonts-mono;
      font-size: 0.857em;
      line-height: 1.333;
    }
    pre {
      padding: 0.5em;
      overflow: auto;
      white-space: pre-wrap;
    }
    code {
      display: inline-block;
      padding: 0 0.1em;
    }
    pre code {
      padding: 0;
      border: none;
      background-color: transparent;
      font-size: 1em;
    }
    :is(li, blockquote) {
      margin: 0.5em 0;
      padding: 0;

      :is(p, ul, ol, dl, blockquote, figure, iframe, img, video) {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
    :is(blockquote, q) {
      font-style: italic;
    }
    blockquote {
      .reading-width();

      display: block;
      box-sizing: border-box;
      margin: 1em 0;
      padding: 0.5em 1em;
      border-left: 4px solid @color-fade3;
      background-color: @color-fade1;

      :first-child {
        margin-top: 0;
      }
      :last-child {
        margin-bottom: 0;
      }
    }
    :is(ul, ol) {
      padding-left: 0; // no padding if no li is nested

      li {
        margin-left: 2.5em; // instead of ul/ol padding, add a margin here

        // remove margin and marker if it's the only item (e. g. Ars Technica slideshow images are rendered like this)
        &:only-child {
          margin: 0;
          list-style: none;
        }
      }
    }
  }

  // ---------------------------------------------------------------------------
  // ui styling
  // ---------------------------------------------------------------------------
  :is(.article-note, .attachments, .expand-prompt, .footer) {
    font-family: @fonts-ui;
  }
  :is(.article-note, .attachments, .expand-prompt) {
    font-size: @font-size-toolbar;
  }
  .content .article-note {
    margin-top: 0;
    margin-bottom: calc(5px + @font-size-post);
  }
  .attachments {
    display: block;
    width: fit-content;
    margin: @font-size-post 0;
  }
  .content-shrink-wrap {
    position: relative;
    margin: 0 -10px;
    padding: 0 10px;
    border-bottom: 1px solid @color-fade3;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 200px;
      background: linear-gradient(to top, @default-bg, transparent);
      pointer-events: none;
    }
  }
  .expand-prompt {
    margin: 20px 0 0;

    &,
    .dijitButtonNode {
      display: block;
    }
    .dijitButtonNode {
      border-color: @color-fade1;
      background-color: @color-button;
      color: @fg-text-muted;
      font-weight: bold;

      &:hover {
        background-color: @color-button-hover;
        color: @default-text;
      }
      &:active {
        background-color: @color-button-active;
      }
    }
    .material-icons {
      top: -2px;
    }
  }
}
