@import "_variables.less";

#content-wrap#content-wrap {
  @expanded-padding: 25px;
  @title-padding: e("((@{headline-height} - 17px) / 2)");

  margin-left: -5px;
  overflow: visible;

  #feeds-holder[style*="none"] ~ & {
    margin-left: 0;
  }

  #headlines-frame {
    padding-top: @headline-height;
    padding-right: calc(@content-spacing-right);
    padding-left: calc(@content-spacing-left);
    transform: none;

    // move headlines-frame up and children down so cdm header doesn't stick too early
    // especially exclude cards from transform so the overlay keeps working
    &.cdm:not([data-enable-grid="true"][data-is-cdm-expanded="false"]) {
      padding-top: 0;
      padding-bottom: @headline-height;

      > * {
        transform: translateY(@headline-height);
      }
    }
  }

  .dijitContentPane {
    background-color: @default-bg;
  }

  // ---------------------------------------------------------------------------
  // split detail header, combined expanded footer
  // ---------------------------------------------------------------------------
  .icon-close-article {
    order: 1;
    transform: scale(1.167); // 18px => 21px without changing dimensions
  }
  .tags {
    overflow: hidden;
    text-overflow: ellipsis;

    + a {
      .interactive-icon();
      font-family: "Material Icons";
      font-size: 0;
      line-height: 1;
      text-decoration: none;

      &::after {
        content: "add";
        font-size: 18px;
      }
    }
  }

  // ---------------------------------------------------------------------------
  // split detail
  // ---------------------------------------------------------------------------
  .post {
    :is(.header, .content) {
      margin: 0;
      padding: 10px calc(@content-spacing-right + 6px) 6px calc(@content-spacing-left + 6px);
    }
    .header {
      background-color: mix(@default-fg, @default-bg, @fade1);
      color: @fg-text-muted;
      font-size: 11px;
    }
    .title {
      font-size: 13px;
      line-height: 1.2;
      word-break: unset;
    }
    :is(.author, .tags) {
      margin-right: 4px;
    }
    .author:not(:empty) {
      order: -1;
    }
    .right {
      position: relative;
      left: 4px;
      align-items: flex-start;

      .material-icons {
        .interactive-icon();
      }
    }
  }

  // ---------------------------------------------------------------------------
  // single row layout for combined collapsed header and horizontally split list item
  // ---------------------------------------------------------------------------
  :where(.cdm .header, .hl) {
    display: grid;
    grid-template-areas: "feed title updated icon actions";
    grid-template-columns: 160px 1fr auto auto auto;

    > * {
      align-items: center;
      min-height: calc(@headline-height - 2px);
      padding: 1px 0;
    }
    > .feed {
      grid-area: feed;
    }
    > :is(.title, .titleWrap) {
      grid-area: title;
      width: auto;
      min-height: unset;
      padding: calc(@title-padding) 5px;
    }
    // date
    > :nth-child(4) {
      grid-area: updated;
      min-height: unset;
    }
    > .right {
      z-index: 1;
      grid-area: icon;
      line-height: 1;
    }
    > .left {
      position: relative;
      grid-area: actions;
      flex-direction: row-reverse;
      padding-right: 1px;
    }
    .updated {
      padding: 0 4px 0 5px;
    }
  }
  .hl {
    > * {
      display: flex;
      align-items: center;
      align-self: stretch;
    }
    :is(.title .hl-content) {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // ---------------------------------------------------------------------------
  // shared feed icon and name styles for all layouts
  // ---------------------------------------------------------------------------
  .icon-feed {
    position: absolute;
    left: 1px;
  }
  .icon-no-feed {
    color: @color-fade6;
    font-size: 18px;
  }
  :is(a.feed, .feed a) {
    box-sizing: border-box;
    max-width: calc(100% - 31px);
    min-height: 0;
    margin-left: 26px;
    padding: 1px 6px;
    overflow: hidden;
    border: 1px solid @color-fade1;
    border-radius: 99px;
    color: @default-text;
    font-style: normal;
    text-overflow: ellipsis;
  }
  a.feed {
    display: block; // don't feed in expanded grid view
    justify-self: start;
  }
  // for backward-compatibility with tt-rss before https://git.tt-rss.org/fox/tt-rss.git/commit/?id=df7b2e79849419fcc278c0549fdf10c094991558
  div.feed {
    display: flex;
    max-width: 100%;
  }

  // ---------------------------------------------------------------------------
  // combined collapsed, split list for single feed: hide feed name
  // ---------------------------------------------------------------------------
  #headlines-frame[is-vfeed="0"] {
    :is(.header, .hl) {
      grid-template-columns: auto 1fr auto auto auto;
    }

    .feed {
      display: none;
    }
  }

  .label {
    padding: 0 4px;
    border-radius: 99px;
    vertical-align: baseline;
  }

  // ---------------------------------------------------------------------------
  // content for combined collapsed/expanded item and split list item
  // ---------------------------------------------------------------------------
  :is(.cdm[data-article-id], .hl) {
    position: relative;
    margin-bottom: -1px;
    border: 1px solid @border-default;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    background-color: @default-bg;

    :is(.author, .excerpt, .hl-content, .preview, .titleWrap, .updated) {
      color: @fg-text-muted;
    }
    .preview {
      padding-left: 0;
      font-size: 11px;
    }
    .title {
      font-size: 13px;
      text-decoration: none;
    }
    &.Unread .title {
      color: @default-text;
    }
    .dijitCheckBox {
      margin-left: 8px;
      border-color: transparent;
      background-color: @color-fade5;
      box-shadow: none;

      &::before {
        color: @default-bg;
      }
      &:hover {
        background-color: @color-fade6;
      }
      &.dijitChecked {
        background-color: @color-checked;
      }
    }
    &:not(.marked) .marked-pic,
    &:not(.published) .pub-pic,
    :is(.icon-anchor, .icon-score, .icon-grid-span),
    .right .material-icons:not(.icon-no-feed) {
      .interactive-icon();
    }
  }

  // ---------------------------------------------------------------------------
  // content for combined collapsed item and split list item
  // ---------------------------------------------------------------------------
  .cdm.expandable:not(.active),
  .hl {
    &.marked {
      z-index: 1;
      border-color: mix(@color-marked, @default-bg, @fade6);
      background-color: mix(@color-marked, @default-bg, @fade3);
    }
    &.published {
      z-index: 1;
      border-color: mix(@color-published, @default-bg, @fade6);
      background-color: mix(@color-published, @default-bg, @fade3);
    }
    &:is(.active, .Selected) {
      z-index: 1;
      border-color: mix(@color-checked, @default-bg, @fade6);
      background-color: mix(@color-checked, @default-bg, @fade3) !important;
    }
    .title {
      color: @fg-text-muted;
    }
    &.Unread .title {
      color: @default-text;
    }
    &:not(.marked) .marked-pic,
    &:not(.published) .pub-pic,
    &:not(.Selected) .dijitCheckBox,
    .icon-score {
      display: none;
    }
    &:hover {
      > * {
        background-color: @color-fade1;
      }
      :is(.marked-pic, .pub-pic, .dijitCheckBox, .icon-score) {
        display: block;
      }
      .updated {
        display: none;
      }
    }
  }

  // ---------------------------------------------------------------------------
  // combined expanded
  // ---------------------------------------------------------------------------
  .cdm {
    .title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    &[data-enable-grid="false"] .expandable:not(.active) .title {
      display: inline;
    }
    &.expanded {
      border-color: @border-default !important;

      .titleWrap {
        word-break: unset;
      }
      &:not(.active, .Unread) .title {
        color: @fg-text-muted;
      }
    }
    &.active {
      border-color: @color-fade3 !important;
    }
    &:is(.expanded, .expandable.active) {
      margin-bottom: 17px;
      background-color: transparent !important;

      .header {
        @icon-height: 25px;
        @shift: e("((@{headline-height} - @{icon-height}) / 2 + @{title-padding})");

        top: calc(-1 * @headline-height - @expanded-padding - @shift);
        padding: @expanded-padding @expanded-padding 0;

        > *:not(.title) {
          transition: margin 0.2s;
        }
        &[data-is-stuck="true"] {
          > *:not(.titleWrap) {
            margin-top: calc(@shift);
            margin-bottom: calc(-1 * @shift);
          }
        }
      }
      .content {
        padding: 0 @expanded-padding @expanded-padding;
      }
      .title {
        .heading-font-size(0);
        font-family: var(--fonts-heading);
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        text-rendering: optimizeLegibility;
      }
      .icon-feed {
        left: calc(@expanded-padding + 1px);
      }
    }
    &.expandable:not(.active) {
      cursor: unset;

      :is(.titleWrap, .title) {
        white-space: nowrap;
        cursor: pointer;
      }
    }
    .collapse {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      i {
        display: flex;
        z-index: 1;
        align-items: center;
        justify-content: flex-end;
        height: calc(@headline-height / 2 + 10px);
        padding: 0 5px;
        transition: background-color 0.5s, color 0.2s;
        color: @color-icon;
        font-size: 0;

        &::after {
          content: "close";
          font-size: 21px;
        }
      }
      &:hover i {
        background-color: @color-fade1;
        color: @color-fade8;
      }
    }
    .footer {
      border: none;
      color: @fg-text-muted;
      font-size: 11px;
    }
  }

  // ---------------------------------------------------------------------------
  // layout for vertically split list item, card and combined expanded header
  // ---------------------------------------------------------------------------
  :is(
      #headlines-frame[data-is-wide-screen="true"] .hl,
      #headlines-frame.cdm[data-enable-grid="true"] .header,
      .cdm.expanded .header,
      .cdm.expandable.active .header
    ) {
    grid-template-areas:
      "feed feed updated icon actions"
      "title title title title title";
    grid-template-rows: auto 1fr;

    > :is(.title, .titleWrap) {
      box-sizing: border-box;
      width: 100%;
    }
    > .titleWrap,
    .excerpt {
      white-space: normal;
    }
  }

  // single feed: move updated to the left and always show action icons
  :is(
      #headlines-frame[is-vfeed="0"][data-is-wide-screen="true"] .hl,
      #headlines-frame[is-vfeed="0"][data-enable-grid="true"] .cdm .header,
      #headlines-frame[is-vfeed="0"] .cdm.expanded .header,
      #headlines-frame[is-vfeed="0"] .cdm.expandable.active .header
    ) {
    grid-template-areas:
      "updated updated updated icon actions"
      "title title title title title";

    :is(.marked-pic, .pub-pic, .dijitCheckBox, .icon-score, .updated) {
      display: block;
    }
  }

  // show action icons in vertically split list items if they are wide enough
  #headlines-frame[data-is-wide-screen="true"][data-is-cdm="false"] {
    container-type: inline-size;

    @container (min-width: 500px) {
      .hl :is(.marked-pic, .pub-pic, .dijitCheckBox, .icon-score, .updated) {
        display: block !important;
      }
    }
  }

  // ---------------------------------------------------------------------------
  // vertically split list item and detail overrides
  // ---------------------------------------------------------------------------
  #headlines-frame[data-is-wide-screen="true"] {
    .hl {
      > .title {
        grid-row-start: 1;
        padding-top: @headline-height;
      }
      > *:not(.title) {
        background-color: transparent;
      }
    }
    ~ #content-insert .header {
      position: sticky;
      z-index: 1;
      top: 0;
    }
    span.feed {
      pointer-events: none;
      a {
        pointer-events: all;
      }
    }
  }

  // ---------------------------------------------------------------------------
  // cards/grid shared styles
  // ---------------------------------------------------------------------------
  #headlines-frame.cdm[data-enable-grid="true"] {
    grid-gap: 0 17px;
    padding-bottom: 0;

    .header {
      border-top: none;
      border-right: none;
      border-left: none;
    }
    .content {
      border: none;
      background-color: transparent;
    }
    :is(.feed-title, .whiteBox, #headlines-spacer) {
      grid-column: 1 / -1;
    }
  }

  // ---------------------------------------------------------------------------
  // cards view with overlay for detail
  // ---------------------------------------------------------------------------
  #headlines-frame.cdm[data-enable-grid="true"][data-is-cdm-expanded="false"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .cdm {
      .titleWrap {
        height: 100%;
      }

      &:not(.active) {
        display: flex;
        flex-direction: column;
        margin-bottom: 17px;
        border-color: @border-default !important;

        .header {
          grid-template-columns: auto 1fr auto auto auto;
          flex: 1;
          padding: calc(var(--base-spacing) / 6) calc(var(--base-spacing) / 4);
        }
        .titleWrap {
          grid-row-start: 1;
          padding-top: @headline-height;
        }
        .title {
          display: block;
          margin: calc(var(--base-spacing) / 8) 0 calc(var(--base-spacing) / 4);
          font-family: var(--fonts-heading);
          font-size: var(--font-size-post);
          white-space: normal;
        }
        .icon-feed {
          left: calc(1px + var(--base-spacing) / 4);
        }
      }
      &.active {
        @margin-x: 14vw;
        @margin-y: var(--base-spacing);
        @padding-x: 7vw;
        @header-height: e("var(--font-size-post) * 2 + var(--base-spacing) * 2 + 56px");
        @header-bottom: calc(@margin-y + @header-height);

        &::before,
        :is(.header, .content) {
          position: fixed !important;
          z-index: 20;
        }
        &::before {
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: e("rgb(0 0 0 / @{fade6})");
        }
        .title {
          -webkit-line-clamp: 2;
        }
        :is(.header, .content) {
          right: @margin-x;
          bottom: @margin-y;
          left: @margin-x;
          padding-right: @padding-x;
          padding-left: @padding-x;
          border: 1px solid @color-fade3;
          background-color: @default-bg !important;
        }
        .header {
          top: @margin-y;
          backdrop-filter: none;
          box-shadow: 0 7px 3px -4px rgb(0 0 0 / 30%), 0 8px 8px rgb(0 0 0 / 20%);

          &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: calc(@headline-height / 2 + 10px);
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
        .content {
          top: @header-bottom;
          margin: 0;
          overflow: auto;
          border-top-color: transparent;
        }
        .content-inner {
          margin: 5px;
        }
        .collapse {
          position: fixed;
          z-index: -2;
          bottom: 0;

          i {
            align-items: flex-start;
            height: 100%;
            padding: calc(@margin-y + 10px) calc(@margin-x + 10px);
            background-color: transparent;
          }
        }
        .icon-feed {
          left: calc(@padding-x + 1px);
        }
      }
    }
  }

  // ---------------------------------------------------------------------------
  // group by feed
  // ---------------------------------------------------------------------------
  .feed-title {
    display: flex;
    padding: @headline-height 0 calc(@headline-height - 16px);
    border: none;

    > * {
      padding: 0 6px;
      line-height: 1;
    }

    .title {
      padding-top: 2px;
      font-size: 12px;
      letter-spacing: 0.05em;
      line-height: 14px;
      text-transform: uppercase;
    }
  }

  // ---------------------------------------------------------------------------
  // initial loading
  // ---------------------------------------------------------------------------
  .whiteBox {
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 1.5;
  }

  // ---------------------------------------------------------------------------
  // end of list
  // ---------------------------------------------------------------------------
  #headlines-spacer {
    position: relative;
    box-sizing: border-box;
    height: calc(100vh - 44px); // #toolbar height
    margin: 0;
    padding-top: calc(@headline-height + 1px);
    font-size: 12px;
    font-style: normal;

    &::after {
      content: "The End";
      position: absolute;
      right: calc(-1 * @content-spacing-right);
      bottom: 0;
      left: calc(-1 * @content-spacing-left);
      padding: 50px;
      background-color: @color-fade3;
      color: @color-fade5;
      font-size: 18px;
      letter-spacing: 0.05em;
    }
  }
}
