:root {
  --base-spacing: 45px; // works best with a value between 30px and 75px
  --font-size-post: 16px;
  --fonts-ui: "Helvetica Neue", Arial, Helvetica, "Liberation Sans", "Nimbus Sans L", FreeSans, sans-serif;
  --fonts-content: var(--fonts-ui);
  --fonts-heading: SansCn;
  --fonts-mono: "Fira Code", Menlo, Monaco, Consolas, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", monospace;
  --reading-width: 45; // use a unitless `em` value
  --card-max-column-count: 10;
  --card-min-column-width: 300px;
  --card-target-column-width: var(--card-min-column-width) * 1.15;
}

@base-spacing: var(--base-spacing);
@content-spacing: var(--content-spacing, var(--base-spacing));
@font-size-post: var(--font-size-post);
@fonts-ui: var(--fonts-ui); // also used in defines.less
@fonts-content: var(--fonts-content);
@fonts-heading: var(--fonts-heading);
@fonts-mono: var(--fonts-mono);
@reading-width: var(--reading-width);
@card-max-column-count: var(--card-max-column-count);
@card-min-column-width: var(--card-min-column-width);
@card-target-column-width: e("(var(--card-target-column-width))");

@fade1: (55% / 15);
@fade2: (100% / 15);
@fade3: (200% / 15);
@fade4: (300% / 15);
@fade5: (400% / 15);
@fade6: (600% / 15);
@fade7: (900% / 15);
@fade8: (1100% / 15);

@bright-red: #f66;
@dark-red: #c00;
@green: #6b5;

@default-fg: #000;
@default-bg: #fff;
@color-marked: @green;
@color-published: #e84;
@color-selected: #db0;
@color-checked: @color-accent;
@color-error: fade(@dark-red, 80%);
@color-input: lighten(@default-bg, @fade1);
@color-button: mix(@default-fg, @default-bg, @fade1);
@color-button-hover: mix(@default-fg, @default-bg, @fade2);
@color-button-active: shade(@default-bg, @fade3);

@color-fade0: fade(@default-fg, 0%);
@color-fade1: fade(@default-fg, @fade1);
@color-fade2: fade(@default-fg, @fade2);
@color-fade3: fade(@default-fg, @fade3);
@color-fade4: fade(@default-fg, @fade4);
@color-fade5: fade(@default-fg, @fade5);
@color-fade6: fade(@default-fg, @fade6);
@color-fade7: fade(@default-fg, @fade7);
@color-fade8: fade(@default-fg, @fade8);

@color-panel-bg: @color-fade2;
@border-default: @color-fade2;
@border-darker: @color-fade3;
@color-icon: @color-fade5;
@fg-text-muted: @color-fade6;
@feeds-text: @color-fade7;
@default-text: @color-fade8;

@font-size-main: @font-size-toolbar;

@feeds-toggle-width: @base-spacing;
@feeds-spacing: calc(@base-spacing - 8px);
@headline-height: @base-spacing;
@content-spacing-right: e("(@{content-spacing} + 4px)");
@content-spacing-left: e("(@{content-spacing} - 4px)");

.heading-font-size(@level: 0) {
  @font-size: e("(@{font-size-post} + 10px - @{level} * 2px)");

  font-size: calc(@font-size);
  line-height: calc(@font-size + 6px);
}

.reading-width() {
  max-width: calc(@font-size-post * @reading-width);
}

.interactive-icon(@color: @color-icon) {
  transition: color 0.2s;
  color: @color;

  &:hover {
    color: @color-fade6;
  }
}

.media(@from, @rules) {
  .media(@from, @to: 0, @rules);
}
.media(@from, @to, @rules) {
  @breakpoints: {
    @0: 0;
    @sm: @breakpoint-sm;
    @md: @breakpoint-md;
    @lg: @breakpoint-lg;
    @xl: @breakpoint-xl;
  };
  .return() when (@from = 0) {
    @media (max-width: @breakpoints[@@to]) {
      @rules();
    }
  }
  .return() when (@to = 0) {
    @media (min-width: @breakpoints[@@from] + 1) {
      @rules();
    }
  }
  .return() when (default()) {
    @media (min-width: @breakpoints[@@from] + 1) and (max-width: @breakpoints[@@to]) {
      @rules();
    }
  }
  .return();
}

// based on https://bitbucket.org/pixelass/homeless/src/master/src/repeat/repeat.less
.repeat(@string, @n, @rules) {
  .repeat(@string, "", @n, @rules);
}
.repeat(@string, @separator, @n, @rules) {
  .reduce(@acc, @cur, @separator, @i) when (@i > 0) {
    .return(@result, @i) when (@i = 1) {
      @rules();
    }
    .return(e(@acc), @i);
    .reduce("@{acc}@{separator}@{cur}", @cur, @separator, @i - 1);
  }
  .reduce(@string, @string, @separator, @n);
}
