@default-fg: #000;
@default-bg: #fff;
@color-published: #e84;
@color-marked: #6b5;
@color-checked: #db0;
@color-panel-bg: fade(@default-fg, 4%);
@border-default: fade(@default-fg, 7%);
@border-active: fade(@default-fg, 17%);
@default-text: fade(@default-fg, 75%);

@fonts-ui: "Helvetica Neue", Arial, Helvetica, "Liberation Sans",
  "Nimbus Sans L", FreeSans, sans-serif;
@fonts-ui-bold: @fonts-ui;
@fonts-heading: SansCn;
@fonts-mono: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
  "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;

@feedy-hide-score-icon: true;
