@color-published: #e84;
@color-marked: #6b5;
@color-checked: #db0;
@color-panel-bg: fade(@default-fg, 4%);
@border-default: fade(@default-fg, 7%);
@border-active: fade(@default-fg, 17%);
@default-text: fade(@default-fg, 75%);

@fonts-ui: "Helvetica Neue", Arial, Helvetica, "Liberation Sans",
  "Nimbus Sans L", FreeSans, sans-serif;
@fonts-ui-bold: @fonts-ui;
@fonts-heading: SansCn;
@fonts-mono: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
  "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;

@feedy-hide-score-icon: true;

@font-face {
  font-family: "SansCn";
  font-style: normal;
  font-weight: normal;
  src: local("Arial Narrow"), local("Liberation Sans Narrow"),
    url("feedly/fonts/texgyreheroscn-regular-webfont.woff") format("woff"),
    url("feedly/fonts/texgyreheroscn-regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "SansCn";
  font-style: normal;
  font-weight: bold;
  src: local("HelveticaNeue-CondensedBold"), local("Arial Narrow Bold"),
    local("Arial Narrow"), local("Liberation Sans Narrow Bold"),
    local("Liberation Sans Narrow"),
    url("feedly/fonts/texgyreheroscn-bold-webfont.woff") format("woff"),
    url("feedly/fonts/texgyreheroscn-bold-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "SansCn";
  font-style: italic;
  font-weight: normal;
  src: local("Arial Narrow Italic"), local("Arial Narrow"),
    local("Liberation Sans Narrow Italic"), local("Liberation Sans Narrow"),
    url("feedly/fonts/texgyreheroscn-italic-webfont.woff") format("woff"),
    url("feedly/fonts/texgyreheroscn-italic-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "SansCn";
  font-style: italic;
  font-weight: bold;
  src: local("Arial Narrow Bold Italic"), local("Arial Narrow"),
    local("Liberation Sans Narrow Bold Italic"), local("Liberation Sans Narrow"),
    url("feedly/fonts/texgyreheroscn-bolditalic-webfont.woff") format("woff"),
    url("feedly/fonts/texgyreheroscn-bolditalic-webfont.ttf") format("truetype");
}

body.ttrss_main {
  color: @default-text;
  background-color: @default-bg;

  .dijitSplitter {
    background-color: transparent;
  }

  .dijitSplitterThumb {
    display: none;
  }

  #main {
    background-color: @border-default;
  }

  &:not(.ttrss_prefs) #main {
    padding-left: 30px;
  }

  #feeds-holder {
    overflow: visible;
    box-shadow: none !important;
    background-color: transparent;

    #feedTree {
      font-size: 12px;
      margin: 0 -5px 0 -30px;

      .dijitTreeContainer {
        padding: 46px 0;

        .dijitTreeRow {
          border: 0 solid transparent;
          border-left-width: 20px;
          padding-right: 20px;

          &:hover {
            background-color: fade(@default-fg, 4%);
          }

          &.dijitTreeRowSelected {
            background-color: fade(@default-fg, 7%);
          }
        }
      }

      .counterNode.counterNode {
        border-color: transparent;
        background-color: transparent;
        font-weight: normal;
        text-align: right;
        color: fade(@default-text, 60%);

        &.aux {
          color: fade(@default-text, 30%);
        }
      }

      .dijitTreeIcon,
      .dijitTreeExpando,
      .dijitTreeLabel {
        margin-left: 8px !important;
      }

      .dijitTreeExpando {
        top: -1px;
        left: -1px;

        &::before {
          font-family: "Material Icons";
          font-size: 20px;
        }
      }
      .dijitTreeExpandoClosed::before {
        content: "\e315";
      }
      .dijitTreeExpandoOpened::before {
        content: "\e313";
      }

      .icon.material-icons:not(.icon-label),
      .dijitTreeExpando {
        color: fade(@default-fg, 25%) !important;
      }

      .dijitTreeContent {
        display: inline-block;
      }

      .dijitTreeExpandoLeaf {
        float: right;
        top: 2px;
      }

      .dijitTreeRow[style="padding-left: 19px;"] {
        padding-left: 24px !important;
      }

      > .dijitTreeContainer
        > .dijitTreeNode
        > .dijitTreeNodeContainer
        > .dijitTreeNode:first-child {
        margin-bottom: 28px;

        > .dijitTreeNodeContainer .dijitTreeRow {
          padding-left: 2px !important;
        }
      }
    }
  }

  #toolbar-frame,
  #headlines-frame {
    padding-right: 34px;
    padding-left: 26px;
    background-color: @default-bg;
  }

  #toolbar-frame {
    z-index: 3;
  }

  #toolbar {
    padding: 6px 0 !important;

    .icon-syndicate {
      border: none;
      color: @default-text;
    }
    #feed_title {
      font-size: 14px;
      font-weight: bold;
    }
    #selected_prompt {
      font-style: normal !important;
    }
    > .dijitButton {
      .dijitButtonNode {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 0;
        width: 30px;
        border: 0;
        border-radius: 0;
        background: linear-gradient(
            to right,
            fade(@default-fg, 7.5%),
            fade(@default-fg, 0)
          ) -30px 0 no-repeat;
        box-shadow: none;
        transition: background-position 0.1s;
      }
      .dijitButtonContents {
        position: absolute;
        top: 53px;
        left: 7px;
        width: 16px;
        height: 16px;
        padding: 0;
        overflow: hidden;
        text-indent: 101%;
        opacity: 0.2;
        transition: opacity 0.2s;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 3px;
          background-color: @default-fg;
          box-shadow: 0 6px 0 @default-fg, 0 12px 0 @default-fg;
        }
      }
      &:hover .dijitButtonNode {
        background-position: 0 0;
      }
      &:hover .dijitButtonContents {
        opacity: 0.7;
      }
    }
  }

  #headlines-frame {
    padding-top: 30px;
  }

  #floatingTitle {
    margin-right: 34px;
    margin-left: 26px;
    border-bottom-color: @border-active;
    box-shadow: none;

    .titleWrap {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title {
      font-size: unset;
    }
    .feed {
      display: none !important;
    }
    .right {
      padding-right: 5px;
      padding-left: 5px;
    }
    .icon-anchor {
      margin-left: 5px;
    }
  }

  .post.post {
    .header,
    .content {
      padding: 10px 40px 10px 32px;
    }
  }

  #floatingTitle,
  .header,
  .hl {
    min-height: 30px;

    > * {
      padding: 2px 1px;
    }
    > .right {
      order: 1;
    }
    > .feed {
      order: 2;
    }
    > .title,
    > .titleWrap {
      order: 3;
      padding-left: 5px;
    }
    // date
    > :nth-child(4) {
      order: 4;
    }
    > .left {
      order: 5;
      flex-direction: row-reverse;

      i {
        color: fade(@default-fg, 20%);
      }
      .dijitCheckBox {
        margin-left: 10px;
        border-color: transparent !important;
        background-color: fade(@default-fg, 20%);
      }
      .dijitCheckBoxChecked {
        background-color: @color-checked;
      }
    }
  }

  .hl {
    > * {
      display: flex;
      align-self: stretch;
      align-items: center;
    }

    .title .hl-content {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .icon-score when (@feedy-hide-score-icon = true) {
    display: none;
  }

  .updated {
    padding: 0 5px 0 10px;
  }

  .feed {
    display: flex !important;
    flex: 0 0 130px;
    max-width: 130px;
    padding: 7px 5px 7px 0;

    a {
      max-width: 100%;
      padding: 1px 6px !important;
      border: 1px solid fade(@default-fg, 3%);
      border-radius: 99px !important;
      overflow: hidden;
      text-overflow: ellipsis;
      font-style: normal !important;
      color: @default-text !important;

      &:empty {
        display: none;
      }
    }
  }

  .label {
    padding: 0 4px;
    border-radius: 99px;
    vertical-align: baseline;

    > i {
      display: none;
    }
  }

  .cdm,
  .hl {
    margin-bottom: -1px;
    border: 1px solid @border-default;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    background-color: transparent;
    color: fade(@default-fg, 60%);
  }

  .cdm.expandable:not(.active),
  .hl {
    .left {
      display: none;
    }
    &.marked {
      border-color: fade(@color-marked, 40%);
      background-color: fade(@color-marked, 15%);
    }
    &.published {
      border-color: fade(@color-published, 40%);
      background-color: fade(@color-published, 15%);
    }
    &.active,
    &.Selected {
      border-color: fade(@color-checked, 40%);
      background-color: fade(@color-checked, 15%) !important;

      &,
      a,
      span {
        color: inherit !important;
      }
      .title,
      .excerpt,
      .preview {
        color: fade(@default-fg, 45%) !important;
      }
    }
    .title {
      text-decoration: none;
      color: fade(@default-fg, 45%) !important;
    }
    &.Unread {
      .title {
        color: @default-text !important;
      }
    }
    &:hover {
      > * {
        background-color: fade(@default-fg, 4%);
      }
      .left {
        display: flex;
      }
      .updated {
        display: none;
      }
    }
  }

  .cdm {
    position: relative;

    &.expanded {
      border-color: @border-default !important;
    }
    &.active {
      border-color: @border-active !important;
    }
    &.expanded,
    &.expandable.active {
      margin-bottom: 17px;
      padding: 28px;

      .title.title {
        display: block;
        font: normal normal bold 24px/28px @fonts-heading;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
    }
    &.expandable:not(.active) {
      .titleWrap,
      .title {
        white-space: nowrap;
      }
    }
    .collapse {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 26px;
      text-align: right;
      transition: background-color 0.5s;

      i {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        padding: 4px;
        color: fade(@default-fg, 30%) !important;
        transition: color 0.2s;
      }
      &:hover {
        background-color: fade(@default-fg, 3%);
        i {
          color: fade(@default-fg, 70%) !important;
        }
      }
    }
  }

  #headlines-frame.wide .hl,
  .cdm.expanded .header,
  .cdm.expandable.active .header {
    flex-wrap: wrap;

    > .feed {
      flex: 1;
      max-width: none;
    }
    > .title,
    > .titleWrap {
      order: 5;
      box-sizing: border-box;
      width: 100%;
    }
    .hl-content,
    > .titleWrap .title {
      position: relative;
      top: -5px;
    }
  }

  #headlines-frame.wide ~ #content-insert {
    .post {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .content {
      flex: 1;
      overflow: auto;
    }
  }

  .content {
    color: @default-text !important;

    .content-inner {
      margin: 5px;
      font-size: 14px;
      line-height: 1.7;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 35px;
      margin-bottom: 14px;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
    h1 {
      font: normal normal bold 22px/28px @fonts-heading;
    }
    h2 {
      font: normal normal bold 20px/26px @fonts-heading;
    }
    h4 {
      font: normal normal bold 18px/24px @fonts-heading;
    }
    h4 {
      font: normal normal bold 16px/22px @fonts-heading;
    }
    h5 {
      font: normal normal bold 14px/20px @fonts-heading;
    }
    h6 {
      font: normal normal bold 13px/18px @fonts-heading;
    }
    p {
      max-width: 45em;
    }
    table {
      border-collapse: collapse;
    }
    tr {
      vertical-align: top;
    }
    th,
    td {
      padding: 0 0.5em;
      border: 1px solid fade(@default-fg, 15%);
    }
    th {
      background-color: fade(@default-fg, 5%);
    }
    table[border="0"] th,
    table[border="0"] td {
      padding: 0;
      border: 0;
    }
    hr {
      border: none;
      border-top: 1px solid fade(@default-fg, 15%);
    }
    iframe {
      margin: 0.5em 0;
    }
    img,
    video {
      margin: 0.5em 1em 0.5em 0;
      max-width: 100%;
      width: auto;
      height: auto;
    }
    figure {
      margin: 1em 0;
      font-style: italic;
      font-size: 12px;
      line-height: 16px;
    }
    pre,
    code {
      color: inherit !important;
      font-family: @fonts-mono !important;
    }
    pre {
      overflow: auto;
      padding: 0.5em;
      border: 1px solid fade(@default-fg, 3%) !important;
      background-color: fade(@default-fg, 3%) !important;
      white-space: pre-wrap;
      font-size: 11px;
      line-height: 1.333;
    }
    code {
      display: inline-block;
      padding: 0 0.31em;
      border: 1px solid fade(@default-fg, 3%);
      background-color: fade(@default-fg, 3%);
      line-height: 1.333;
    }
    pre code {
      padding: 0;
      border: none;
      background-color: transparent;
    }
    q,
    blockquote {
      display: block;
      margin: 1em 0;
      padding: 0.31em 1em;
      border-left: 4px solid fade(@default-fg, 1.5%);
      background-color: fade(@default-fg, 3%);
    }
    q :first-child,
    blockquote :first-child {
      margin-top: 0;
    }
    q :last-child,
    blockquote :last-child {
      margin-bottom: 0;
    }
  }
}
