@import "../tt-rss/themes/night_blue.less";
@import "_dark.less";
@import "_base.less";

:root {
  --font-size-post: 16px;
  --fonts-content: Georgia, serif;
}

@default-fg: #fff;
@default-bg: hsl(210, 45%, 12%);

#feeds-holder#feeds-holder #feedTree .dijitTreeRow .loadingNode {
  filter: none;
}
