@import "../tt-rss/themes/night_base.less";
@import "_base.less";
@import "_night.less";
@import "_high-contrast.less";

@fade1: (200% / 15);
@fade2: (300% / 15);
@fade3: (400% / 15);
@fade4: (600% / 15);

#main#main {
  :is(.cdm[data-article-id], .hl) {
    .icon-score:not([title="0"]),
    &.marked .marked-pic,
    &.published .pub-pic,
    .dijitCheckBox.dijitChecked {
      opacity: 1;
    }
  }
}
#feedTree#feedTree#feedTree .dijitTreeRow .loadingNode {
  filter: brightness(0);
}
.icon-three-dots {
  filter: invert(1);
}
body.flat {
  :is(.dijitAccordionInnerContainer.dijitSelected .dijitAccordionTitle, .dijitCheckBox.dijitChecked) {
    background-color: darken(@color-accent, 5%);
  }
}
