@import "../tt-rss/css/default.less";
@import "_base.less";

@font-size-content: 16px;
@base-spacing: 40px;

.dijitContentPane {
  display: flex;
  flex-wrap: wrap;
}

#content-wrap#content-wrap #headlines-frame {
  background-color: #f9fafb;
}

#content-wrap#content-wrap .cdm.expandable:not(.active) {
  margin: 7px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);

  .header {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 300px;
    padding: 5px;
    border-radius: 5px;

    .right {
      order: 1;
      width: 30px;
    }
    .feed {
      order: 2;
      max-width: 130px;
    }
    .left {
      order: 3;
      padding-left: 0px;
    }
    .titleWrap {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      order: 4;
      height: 235px;
      padding-top: 0px;
      padding-bottom: 0px;
      text-overflow: unset;

      .excerpt {
        flex: 1;
        overflow: hidden;
        font-size: @font-size-content - 2;
        white-space: normal;
      }

      .title {
        margin-bottom: 10px;
        font-size: @font-size-content + 1;
        white-space: normal;
      }
    }
    .updated {
      order: 5;
    }
  }

  &:hover {
    .feed {
      max-width: 110px;
    }
    .left {
      padding-left: 20px;
    }
    .updated {
      display: block;
    }
  }
}

#content-wrap#content-wrap .icon-score {
  right: 90px;
}

#content-wrap#content-wrap .cdm.expandable.active {
  width: 100%;
}
