@import "../tt-rss/themes/night_base.less";
@import "_base.less";
@import "_night.less";
@import "_night-amber.less";
@import "_high-contrast.less";
@import "_high-contrast-night.less";

:root {
  --fonts-content: Georgia, "URW Bookman", serif;
}

@fade7: (1100% / 15);
@fade8: (1300% / 15);

@default-bg: hsl(25, 40%, 8%);
@border-default: @color-fade5;
@border-darker: @color-fade5;
