@import "../tt-rss/themes/night_base.less";
@import "_base.less";
@import "_night.less";
@import "_night-amber.less";
@import "_high-contrast.less";
@import "_high-contrast-night.less";

@fade1: (200% / 15);
@fade2: (300% / 15);
@fade3: (400% / 15);
@fade4: (600% / 15);
