@import "../tt-rss/themes/light.less";
@import "_base.less";

:root {
  --font-size-post: 16px;
  --fonts-content: Georgia, serif;
}

@default-bg: hsl(45, 80%, 96%);

.content,
.content-inner {
  img,
  video {
    mix-blend-mode: multiply;
  }
}
